:root{
    --colorTittleClear: #ffebda;
    --fondoGeneral: #ffffff96;
    --colorTittleDark: #5c2f05;
    --colorText: #833f00;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.nav-section{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 16px;
    justify-content: center;
}

/* ESTILOS - BARRA DE OPCIONES */
body{
    width: 100%;
}

main{
    padding-top: 68px;
}
/*/////////////////// NAV ///////////////////*/
header{
    overflow: hidden;
    background-color: var(--colorTittleClear);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.containerNav{
    width: 90%;
    margin: auto;
    padding: 8px 0 8px 0;
    height: 68px;
}

#logoHeader{
    width: 80px;
}

#logoHeader a img{
    width: 100%;
}

.flexBoxNav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul{
    list-style-type: none;
}

li{
    padding: 16px;
}

a{
    text-decoration: none;
    color: var(--colorText);
}


.container{
    width: 90%;
    margin: auto;
    padding: 80px 0;
}

.flexBox{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}


/* Estilos de ALl productos */

main .btnsSelect{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.secondaryButton{
    margin: 2% 0;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid var(--colorText);
    border-radius: 4px;
    cursor: pointer;
    background-color: #ffffff00;
    color: var(--colorText);
    font-weight: 600;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.secondaryButton:hover{
    background-color: var(--colorTittleDark);
    color: #ffffff;
} 

.coffees{
    width: 80%;
    margin: auto;
    padding-bottom: 6rem;
}

/*///////////// CARDS /////////////*/
.products{
    display: grid;
    gap: 1.5rem;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    justify-items: center;
}

.product{
    background-color: #fff;
    margin: 1rem;
    border-radius: 1rem;
    width: 15rem;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

.product:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-3%);
}

.product-image{
    width: 15rem;
    height: 12rem;
    border-radius: 1rem 1rem 0 0;
}

.product-name{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    padding-top: 16px;
    padding-bottom: 8px;
    color: var(--colorTittleDark);
}
.product-price{
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--colorText);
    padding-bottom: 16px;
}

/* /////////////////// FOOTER /////////////////// */
footer{
    background-color: var(--colorTittleDark);
    color: var(--colorTittleClear);
}

footer a{
    color: var(--colorTittleClear);
    text-decoration: none;
}

.socialMedia i{
    padding: 8px;
}

.copy{
    padding-top: 40px;
    text-align: center;
}

footer .flexBox{
    justify-content: flex-end;
}

.navFooter{
    padding-right: 48px;
}

.navFooter li{
    padding: 8px;
}

.flexBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* /////////////////// MEDIA QUERIES /////////////////// */
@media (min-width: 360px){
    main {
        padding-top: 56px;
    }

    .flexBoxUl{
        display: none;
    }
    .flexBoxNav{
        justify-content: space-between;
    }
    #logoHeader{
        width: 72px;
    } 
    .containerNav{
        height: 56px;
    }



    footer .flexBox {
        justify-content: space-around;
    }
}

@media (min-width: 768px){
    #logoHeader{
        width: 88px;
    }
    .containerNav{
        height: 68px;
    }



    footer .flexBox {
        justify-content: flex-end;
    }
}

@media (min-width: 1024px){
    main {
        padding-top: 68px;
    }



    .flexBoxUl{
        display: flex;
    }
    .flexBoxNav{
        justify-content: space-around;
    }
    .fa-bars{
        display: none;
    }
}