/* /////////////////// GLOBALS /////////////////// */
:root{
    --colorTittleClear: #ffebda;
    --fondoGeneral: #ffffff96;
    --colorTittleDark: #5c2f05;
    --colorText: #833f00;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

main{
    padding-top: 68px;
}

i{
    margin-left: 8px;
}

/*/////////////////// NAV ///////////////////*/
header{
    overflow: hidden;
    background-color: var(--colorTittleClear);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.containerNav{
    width: 90%;
    margin: auto;
    padding: 8px 0 8px 0;
    height: 68px;
}

#logoHeader{
    width: 80px;
}

#logoHeader a img{
    width: 100%;
}

.flexBoxNav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul{
    list-style-type: none;
}

li{
    padding: 16px;
}

a{
    text-decoration: none;
    color: var(--colorText);
}


/* /////////////////// CARD /////////////////// */
.container{
    width: 90%;
    margin: auto;
    padding: 80px 0;
}

.flexBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mainTitle{
    font-size: 32px;
    color: var(--colorText);
    text-align: center;
    padding: 52px 0;
}
.card-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}
.card-cart {
    padding: 24px 32px;
    border-radius: 1rem;
    box-shadow: 0em 0 0.9em #0000001f;
    max-width: 650px;
    width: 100%;
}

.product {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 30px 0;
    padding-bottom: 2rem;
    border-bottom: #5c2f05 solid 1px;
    gap: 1rem;
}
.product-cartImg{
    width: 15rem;
    height: 12rem;
    border-radius: 1rem;
}

.product-description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.mainButton{
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.8rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--colorText);
    color: #ffffff;
    font-weight: 600;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.mainButton:hover{
    background-color: var(--colorTittleDark);
    
}
.secondaryButton{
    width: 100%;
    margin: 2% 0;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid var(--colorText);
    border-radius: 4px;
    cursor: pointer;
    background-color: #ffffff00;
    color: var(--colorText);
    font-weight: 600;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.secondaryButton:hover{
    background-color: var(--colorTittleDark);
    color: #ffffff;
}

/*/////////////////// SECTION: PRODUCTOS RELACIONADOS ///////////////////*/

.products-marquee{
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    padding-bottom: 8rem;
}

.product-marquee{
    animation: move-rtl 40000ms linear infinite;
    background-color: #fff;
    margin:0 3rem;
    border-radius: 1rem;
    width: 15rem;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

.product-marquee:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-3%);
}

@keyframes move-rtl{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-600%);
    }
}

.category{
    display: block;
    font-size: 2rem;
    text-align: center;
    margin: 60px 0px 40px 0px;
    color: #833f00;
 }

.product-image{
    width: 15rem;
    height: 12rem;
    border-radius: 1rem 1rem 0 0;
}

.product-name{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    padding-top: 16px;
    padding-bottom: 8px;
    color: var(--colorTittleDark);
}
.product-price{
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--colorText);
    padding-bottom: 16px;
}

/* /////////////////// FOOTER /////////////////// */
footer{
    background-color: var(--colorTittleDark);
    color: var(--colorTittleClear);
}

footer a{
    color: var(--colorTittleClear);
    text-decoration: none;
}

.socialMedia i{
    padding: 8px;
}

.copy{
    padding-top: 40px;
    text-align: center;
}

footer .flexBox{
    justify-content: flex-end;
}

.navFooter{
    padding-right: 48px;
}

.navFooter li{
    padding: 8px;
}
/* /////////////////// MEDIA QUERIES /////////////////// */
@media (min-width: 360px){
    main {
        padding-top: 56px;
    }

    .flexBoxUl{
        display: none;
    }
    .flexBoxNav{
        justify-content: space-between;
    }
    #logoHeader{
        width: 72px;
    } 
    .containerNav{
        height: 56px;
    }

    .product-description {
        align-items: center;
    }

    footer .flexBox {
        justify-content: space-around;
    }
}

@media (min-width: 768px){
    #logoHeader{
        width: 88px;
    }
    .containerNav{
        height: 68px;
    }

    .product-description {
        align-items: flex-start;
    }

    footer .flexBox {
        justify-content: flex-end;
    }
}

@media (min-width: 1024px){
    main {
        padding-top: 68px;
    }



    .flexBoxUl{
        display: flex;
    }
    .flexBoxNav{
        justify-content: space-around;
    }
    .fa-bars{
        display: none;
    }
}