/*/////////////////// GLOBALS ///////////////////*/
:root{
    --colorTittleClear: #ffebda;
    --fondoGeneral: #ffffff96;
    --colorTittleDark: #5c2f05;
    --colorText: #833f00;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
main{
    padding-top: 68px;
}

i{
    margin-left: 8px;
}

/*/////////////////// NAV ///////////////////*/
header{
    overflow: hidden;
    background-color: var(--colorTittleClear);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.containerNav{
    width: 90%;
    margin: auto;
    padding: 8px 0 8px 0;
    height: 68px;
}

#logoHeader{
    width: 80px;
}

#logoHeader a img{
    width: 100%;
}

.flexBoxNav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul{
    list-style-type: none;
}

li{
    padding: 16px;
}

a{
    text-decoration: none;
    color: var(--colorText);
}


.container{
    width: 90%;
    margin: auto;
}

.flexBox{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

/*/////////////////// PRODUCT DETAIL ///////////////////*/
.productDetail{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.gallery{
    width: 50%;
}
.gallery img{
    width: 100%;
}

.product{
    width: 40%;
    margin: auto;
}
.product-header{
    padding-bottom: 24px;
}
.product-content{
    padding-bottom: 24px;
}
.titleProduct{
    font-size: 2.5em;
    color: var(--colorText);
}

.descriptionProduct{
    font-size: 1.3em;
    color: var(--colorTittleDark);
}

.product .mainButton{
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.8rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--colorText);
    color: #ffffff;
    font-weight: 600;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.product .mainButton:hover{
    background-color: var(--colorTittleDark);
    
}

.product .secondaryButton{
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid var(--colorText);
    border-radius: 4px;
    cursor: pointer;
    background-color: #ffffff00;
    color: var(--colorText);
    font-weight: 600;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.product .secondaryButton:hover{
    background-color: var(--colorTittleDark);
    color: #ffffff;
} 

.secondaryButton-group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
}

.secondaryButton-group form{
    width: 49%;
}

/*/////////////////// RELATED PRODUCTS ///////////////////*/
.coffees{
    width: 90%;
    margin: auto;
}

.category{
    display: block;
    font-size: 3rem;
    text-align: center;
    margin: 60px 0px 40px 0px;
    color: #833f00;
 }

.products-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product-card{
    background-color: #fff;
    margin: 1rem;
    border-radius: 1rem;
    width: 15rem;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

.product-card:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-3%);
}

.product-image{
    width: 15rem;
    height: 12rem;
    border-radius: 1rem 1rem 0 0;
}

.product-name{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    padding-top: 16px;
    padding-bottom: 8px;
    color: var(--colorTittleDark);
}
.product-price{
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--colorText);
    padding-bottom: 16px;
}

/*/////////////////// COMMENTS ///////////////////*/

.comments{
    padding-top: 80px;
}

.comments .flexBox{
    flex-direction: column;
}

.comment{
    max-width: 500px;
    padding-bottom: 40px;
    color: #222224;
}

.calification{
    display: flex;
    flex-wrap: wrap;
    color: var(--colorTittleDark);
    padding: 8px 0;
}

.start{
    padding-right: 0.3em;
}

/*/////////////////// FOOTER ///////////////////*/
footer{
    background-color: var(--colorTittleDark);
    color: var(--colorTittleClear);
    padding: 40px 0;
}

footer a{
    color: var(--colorTittleClear);
    text-decoration: none;
}

.socialMedia i{
    padding: 8px;
}

.copy{
    padding-top: 40px;
    text-align: center;
}

footer .flexBox{
    justify-content: flex-end;
}

.navFooter{
    padding-right: 48px;
}

.navFooter li{
    padding: 8px;
}

/* /////////////////// MEDIA QUERIES /////////////////// */
@media (min-width: 360px){
    main {
        padding-top: 56px;
    }

    .flexBoxUl{
        display: none;
    }
    .flexBoxNav{
        justify-content: space-between;
    }
    #logoHeader{
        width: 72px;
    } 
    .containerNav{
        height: 56px;
    }

    .productDetail{
        flex-direction: column;
    }
    .gallery{
        width: 100%;
    }
    .product{
        width: 90%;
        margin: auto;
    }

    footer .flexBox {
        justify-content: space-around;
    }
}

@media (min-width: 768px){
    #logoHeader{
        width: 88px;
    }
    .containerNav{
        height: 68px;
    }

    footer .flexBox {
        justify-content: flex-end;
    }
}

@media (min-width: 1024px){
    main {
        padding-top: 68px;
    }

    .flexBoxUl{
        display: flex;
    }
    .flexBoxNav{
        justify-content: space-around;
    }
    .fa-bars{
        display: none;
    }

    .productDetail{
        flex-direction: row;
    }
    .gallery{
        width: 50%;
    }
    .product{
        width: 40%;
        margin: auto;
    }
}