:root{
    --colorTittleClear: #ffebda;
    --fondoGeneral: #ffffff96;
    --colorTittleDark: #5c2f05;
    --colorText: #833f00;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* ESTILOS - BARRA DE OPCIONES */
body{
    width: 100%;
}

main{
    padding-top: 68px;
}

i{
    margin-left: 8px;
}

/*/////////////////// NAV ///////////////////*/
header{
    overflow: hidden;
    background-color: var(--colorTittleClear);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.containerNav{
    width: 90%;
    margin: auto;
    padding: 8px 0 8px 0;
    height: 68px;
}

.fa-bars{
    color: var(--colorText);
}

#logoHeader{
    width: 80px;
    
}

#logoHeader a img{
    width: 100%;
    min-width: 55px;
}

.flexBoxNav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flexBoxUl{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

li{
    padding: 16px;
}


a{
    text-decoration: none;
    color: var(--colorText);
}

/*/////////////////// HERO ///////////////////*/

.logoHero {
    min-height: 100vh;
    background-image: url(/img/imgHero.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.logoHero img{
    width: 55%;
}

/*/////////////////// SECTION: COFFE BEANS AND GROUND COFFE ///////////////////*/

.coffees{
    width: 90%;
    margin: auto;
}

.category{
    display: block;
    font-size: 3rem;
    text-align: center;
    margin: 60px 0px 40px 0px;
    color: #833f00;
 }

.products{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product{
    background-color: #fff;
    margin: 1rem;
    border-radius: 1rem;
    width: 15rem;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

.product:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-3%);
}

.product-image{
    width: 15rem;
    height: 12rem;
    border-radius: 1rem 1rem 0 0;
}

.product-name{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    padding-top: 16px;
    padding-bottom: 8px;
    color: var(--colorTittleDark);
}
.product-price{
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--colorText);
    padding-bottom: 16px;
}


/*/////////////////// SECTION: ALL PRODUCTS ///////////////////*/

.all-pruducts{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    background-image: url(/img/all-products.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 30rem;
}

.title-products{
    font-size: 5rem;
    color: #FFEBDA;
}

.see-more{
    font-size: 2rem;
    color: #FFEBDA;
    text-decoration: none;
    font-weight: bold;
    transition: all 400ms ease;
}

.see-more:hover{
    text-decoration: underline;
}

/*/////////////////// SECTION: MAS VENDIDO ///////////////////*/

.winner{
    width: 90%;
    margin: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.content-winner {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.link-winner{
    width: 50%;
}

.img-winner{
    width: 100%;
    border-radius: 1rem;
}

.descrip-winner{
    width: 30%;
}

.descrip-winner h1{
    padding-top: 5rem;
    font-size: 2rem;
    color: var(--colorText);
    padding-bottom: 0.5rem;
}

.descrip-winner p{
    font-size: 1.2rem;
    color: var(--colorTittleDark);
    padding-bottom: 4rem;
}

.descrip-winner .mainButton{
    width: 40%;
    margin: 2% 0;
    padding: 0.8rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--colorText);
    color: #ffffff;
    font-weight: 600;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.descrip-winner .mainButton:hover{
    background-color: var(--colorTittleDark);
    
}


/*/////////////////// SECTION: PRODUCTOS DESTACADOS ///////////////////*/

.products-marquee{
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    padding-bottom: 8rem;
}

.product-marquee{
    animation: move-rtl 40000ms linear infinite;
    background-color: #fff;
    margin:0 3rem;
    border-radius: 1rem;
    width: 15rem;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

.product-marquee:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-3%);
}

@keyframes move-rtl{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-600%);
    }
}

/* /////////////////// FOOTER /////////////////// */
.flexBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container{
    width: 90%;
    margin: auto;
    padding: 80px 0;
}

footer{
    background-color: var(--colorTittleDark);
    color: var(--colorTittleClear);
}

footer a{
    color: var(--colorTittleClear);
    text-decoration: none;
}

.socialMedia i{
    padding: 8px;
}

.copy{
    padding-top: 40px;
    text-align: center;
}

footer .flexBox{
    justify-content: flex-end;
}

.navFooter{
    padding-right: 48px;
}

.navFooter li{
    padding: 8px;
}

.navFooter ul{
    list-style-type: none;
}

/* /////////////////// MEDIA QUERIES /////////////////// */
@media (min-width: 360px){
    .flexBoxUl{
        display: none;
    }
    .flexBoxNav{
        justify-content: space-between;
    }
    main .container-img .box h3{
        font-size: 2rem;
    }
    #logoHeader{
        width: 72px;
    } 
    .containerNav{
        height: 56px;
    }
    .logoHero img{
        width:80%
    }
    .title-products{
        font-size: 3rem;
        text-align: center;
    }
    .content-winner {
        flex-direction: column;
    }
    .link-winner{
        width: 100%;
    }
    .descrip-winner{
        width: 100%;
    }
    .descrip-winner h1{
        padding-top: 2rem;
    }
    
    .descrip-winner p{
        padding-bottom: 2rem;
    }
    .descrip-winner .mainButton{
        width: 100%;
    }
    footer .flexBox {
        justify-content: space-around;
    }
}

@media (min-width: 768px){
    #logoHeader{
        width: 88px;
    }
    .containerNav{
        height: 68px;
    }
    .logoHero img{
        width:55%
    }
    .title-products{
        font-size: 5rem;
    }
    .content-winner {
        flex-direction: row;
        align-items: center;
    }
    .link-winner{
        width: 40%;
    }
    .descrip-winner{
        width: 55%;
    }
    .descrip-winner h1{
        padding-top: 0;
        font-size: 1.5rem;
    }
    
    .descrip-winner p{
        padding-bottom: 1rem;
    }
    footer .flexBox {
        justify-content: flex-end;
    }
}

@media (min-width: 1024px){
    .flexBoxUl{
        display: flex;
    }
    .flexBoxNav{
        justify-content: space-around;
    }
    .fa-bars{
        display: none;
    }
    .link-winner{
        width: 50%;
    }
    .descrip-winner{
        width: 30%;
    }
    .descrip-winner h1{
        padding-top: 0;
        font-size: 2rem;
    }
    
    .descrip-winner p{
        padding-bottom: 4rem;
    }
    .descrip-winner .mainButton{
        width: 50%;
    }
}