

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #833f00;
}


body{
    width: 100%;
    background-color: #ffffff96;

    
}

nav{
    background-color: #ffffff;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li{
    margin: 1rem;
}

nav ul li{
    padding-top: 3rem;
}

nav ul li a{
    text-decoration: none;
    color: #151522;
    font-size: 1.6rem;
    font-weight: bold;
}
.headerImg{
    display: flex;
    background-image: url(/img/fondoimg.jpg);
    width: 100%;
    height: 39rem;
}



.headerImg h1{
    padding-left: 24rem;
    padding-right: 15rem;
    padding-top: 16rem;
    font-size: 8rem;
    font-weight: bold;
    color: rgb(252, 228, 225);
    width: 100%;

}


.cajalogin{
    width: 50%;
    background-color: #9f9a9ad2;
    box-shadow: 0px 0px 10px #6e6d6da7;
    margin-left: 20%;
    border-radius: 30px 30px 40px 40px;
    padding-bottom: 5%;
    text-align: center;
    margin-bottom: 5%;
    border-left: solid 5px #833f008e;
    border-right:  solid 1px #f8f4f4bd;
    border-bottom: solid 2.7px #94470078;
    margin-top: 5%;
    
}

.inputlogin{
    color: white;
    width: 60%;
    margin: 5% 3% 0% 3%;
    height: 40px;
    border-radius: 40px 40px 40px 40px; 
    border: solid 1px white;
    text-align: center;
 }

 .botones{
    margin-top: 2%;
    
 }

.h3{
    border: solid 1px #ffffff96;
    background-color: rgba(255, 255, 255, 0.898);
    box-shadow: #9f9a9a96;
    width: 30%;
    margin: 0% 20% 5% 35%;
    border-radius: 0px 20px 0px 20px;
    color: #4a2504f5;
}
.marca{
    color: black;
    font-size: 18px;
    text-align:left;
    margin-left: 20px; 
    padding-bottom: 25px;

}


footer{
    background-color: #3b1c00;
 }

 footer .content-footer ul{
    display: flex;
    justify-content: center;
}

footer .content-footer ul li{
    padding-top: 7rem;
    margin: 3rem;
    margin-bottom: 10rem;
    list-style: none;
    justify-content: center;
}

footer .content-footer ul li a{
    color: snow;
    text-decoration: none;
    font-size: 1.6rem;
}

@media screen and (min-width: 326px) and (max-width: 750px){

    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
    }


    header nav ul{
        display: flex;
        justify-content: center;
        list-style: none;
    }

    header nav ul li{
        margin: 0.2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    header nav ul li a{
        text-decoration: none;
        color: rgb(21, 21, 34);
        font-size: 1rem;
        font-weight: bold;
    }

    header .headerImg{
        display: flex;
        background-image: url(/img/fondoimg.jpg);
        width: 100%;
        height: 20rem;
    }

    header .headerImg h1{
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        padding-top: 9rem;
        font-size: 2.5rem;
        font-weight: bold;
        color: #ffebda;
    }

    main{
        display: flex;
        padding-top: 2rem;
        background-color: #ffebda;
        padding-bottom: 5rem;
        flex-direction: column;
    }
    
    main .container{
        width: auto;
        
    }

    main .container .product{
        background-color: rgba(255, 255, 255, 0.589);
        margin: 1rem;
        height: 20rem;
        width: 15rem;
        box-shadow: 0px 1px 10px rgba(56, 24, 0, 0.434);
        cursor: default;
        transition: all 400ms ease;
        border-radius: 2rem 2rem 1rem 1rem;
    }


    main .container .product:hover{
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        transform: translateY(-3%);
    }
    
    /* main .container .product a img{
        width: 15rem;
        height: 12rem;
        border-radius: 2rem 2rem 0 0;
    } */

    main .container .product p{
        text-align: center;
        font-size: 1.2rem;
        padding: 1.5rem;
    }

    main .container-img{
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
    }

    main .container-img .box1{
        width: auto;
    }
    main .container-img .box2{
        width: auto;
    }

    main .container-img .box h3{
        text-align: center;
        padding-top: 10rem;
        font-size: 1.7rem;
        color: #fff4ea;
        padding-bottom: 3rem;
    }

    main .container-img .box  a{
        /* display: flex; */
        padding-left: 37%;
        padding-top: 1rem;
        font-size: 1.5rem;
        color: #ffebda;
        text-decoration: none;
        font-weight: bold;
    }


    main .recetas{
        padding-top: 5rem;
        display: flex;
        justify-content: center;
        overflow-x: auto;
    }
    
    main .recetas::-webkit-scrollbar{
        width:  0;
    }

    main .recetas .product{
        background-color: rgba(255, 255, 255, 0.589);
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
        cursor: default;
        transition: all 400ms ease;
        text-align: center; 
        margin-right: 2px;
        border-radius: 2rem;
    }
    
    main .recetas .product:hover{
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        transform: translateY(-3%);
    }

    main .winner{
        display: flex;
        margin: 0;
        justify-content: center;
        flex-direction: column;
        width: auto;
        flex-wrap: nowrap;
    }
    
    main .winner img{
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 1rem;
        border-radius: 2rem;
        
    }
    
    main .winner .descrip-winner{
        display: inline-flex;
        position: relative;
        bottom: 5rem;
        flex-direction: column;
        /* width: 100%; */
        margin-left: 1.5rem;
    }

    main .winner  .descrip-winner h1{
        font-size: 2.5rem;
        color: #5c2f05;
        /* margin-left: 1rem; */
        margin-right: 1rem;
        width: 15rem;
        padding-bottom: 1.3rem;
    }
    
    main .winner .descrip-winner p{
        font-size: 1.5rem;
        font-weight: bold;
        color: #833f00;
        /* margin-left: 1rem; */
        margin-right: 1rem;
        width: 15rem;
        padding-bottom: 3rem;
    }

    main .winner .descrip-winner a{
        font-size: 1rem;
        text-decoration: none;
        font-weight: bold;
        color: #ffebda;
        /* margin-left: 1rem; */
        text-align: center;
        background-color: #5c2f05;
        padding: 1rem;
        border: 4px dotted #ffebda;
        width: 15rem;
    }

    footer .content-footer ul{
        display: flex;
        text-align: center;
        flex-direction: column;
    
    }
    
    
    footer .content-footer ul li{
        flex-direction: column;
        /* padding-top: 1rem; */
        margin-bottom: 1.5rem;
        list-style: none;
        justify-content: center;
    }
    
    footer .content-footer ul li a{
        color: snow;
        text-decoration: none;
    }

 }