:root{
    --colorTittleClear: #ffebda;
    --fondoGeneral: #ffffff96;
    --colorTittleDark: #5c2f05;
    --colorText: #833f00;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
/*     color: #833f00; */
}

body{
    width: 100%;
    background-color: #ffffff96;
}

main{
    padding-top: 68px;
}

i{
    margin-left: 8px;
}
/*/////////////////// NAV ///////////////////*/
header{
    overflow: hidden;
    background-color: var(--colorTittleClear);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.containerNav{
    width: 90%;
    margin: auto;
    padding: 8px 0 8px 0;
    height: 68px;
}

#logoHeader{
    width: 80px;
}

#logoHeader a img{
    width: 100%;
}

.flexBoxNav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul{
    list-style-type: none;
}

li{
    padding: 16px;
}

a{
    text-decoration: none;
    color: var(--colorText);
}



/* /////////////////// FORM /////////////////// */
.container{
    width: 90%;
    margin: auto;
    padding: 80px 0;
}

.flexBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mainTitle{
    font-size: 32px;
    color: var(--colorText);
    text-align: center;
    padding-bottom: 52px;
}

.inputGroup{
    margin-bottom: 16px;
}

.inputDefault{
    width: 100%;
    height: 46px;
    border-radius: 4px;
    padding: 8px 16px;
    border: 1px #b4b4b4 solid;
    font-size: 16px;
}

.errorFeedback{
    color: red;
    font-weight: 600;
    margin-bottom: 16px;
}

label{
    font-weight: 600;
    padding-top: 40px;
}
.remember_user{
    padding-top: 0px;
}

.buttonGroup{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.mainButton{
    width: 100%;
    margin: 2% 0;
    padding: 0.8rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--colorText);
    color: #ffffff;
    font-weight: 600;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.mainButton:hover{
    background-color: var(--colorTittleDark);
    
}

.secondaryButton{
    width: 100%;
    margin: 2% 0;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid var(--colorText);
    border-radius: 4px;
    cursor: pointer;
    background-color: #ffffff00;
    color: var(--colorText);
    font-weight: 600;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.secondaryButton:hover{
    background-color: var(--colorTittleDark);
    color: #ffffff;
} 

/* /////////////////// FOOTER /////////////////// */
.flexBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container{
    width: 90%;
    margin: auto;
    padding: 80px 0;
}

footer{
    background-color: var(--colorTittleDark);
    color: var(--colorTittleClear);
}

footer a{
    color: var(--colorTittleClear);
    text-decoration: none;
}

.socialMedia i{
    padding: 8px;
}

.copy{
    padding-top: 40px;
    text-align: center;
}

footer .flexBox{
    justify-content: flex-end;
}

.navFooter{
    padding-right: 48px;
}

.navFooter li{
    padding: 8px;
}

/* /////////////////// MEDIA QUERIES /////////////////// */
@media (min-width: 360px){
    main {
        padding-top: 56px;
    }

    .flexBoxUl{
        display: none;
    }
    .flexBoxNav{
        justify-content: space-between;
    }
    #logoHeader{
        width: 72px;
    } 
    .containerNav{
        height: 56px;
    }



    footer .flexBox {
        justify-content: space-around;
    }
}

@media (min-width: 768px){
    #logoHeader{
        width: 88px;
    }
    .containerNav{
        height: 68px;
    }



    footer .flexBox {
        justify-content: flex-end;
    }
}

@media (min-width: 1024px){
    main {
        padding-top: 68px;
    }



    .flexBoxUl{
        display: flex;
    }
    .flexBoxNav{
        justify-content: space-around;
    }
    .fa-bars{
        display: none;
    }
}