:root{
    --colorTittleClear: #ffebda;
    --fondoGeneral: #ffffff96;
    --colorTittleDark: #5c2f05;
    --colorText: #833f00;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
/*     color: #833f00; */
}

body{
    width: 100%;
    background-color: #ffffff96;
}

main{
    padding-top: 68px;
}

i{
    margin-left: 8px;
}
/*/////////////////// NAV ///////////////////*/
header{
    overflow: hidden;
    background-color: var(--colorTittleClear);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.containerNav{
    width: 90%;
    margin: auto;
    padding: 8px 0 8px 0;
    height: 68px;
}

#logoHeader{
    width: 80px;
}

#logoHeader a img{
    width: 100%;
}

.flexBoxNav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul{
    list-style-type: none;
}

li{
    padding: 16px;
}

a{
    text-decoration: none;
    color: var(--colorText);
}


/* MAIN CONTENT */
main{
    padding-bottom: 1px;
    background-image: url("/img/FONDOCAFE.jpg");
}
.mainDiv{
    background-color: #ffffff;
    width: 55%;
    margin: auto;
    border: 3px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}
.userName{
text-align: center;
margin-top: 65px;
padding-top: 10px;
font-weight: 100;
}
.div1{
    width: 100%;
    height: 80px;
    background-color: #833f00;
    background-image: url("/img/CafeRepeat.png");
    background-size: contain;
}
.div2{
    padding-bottom: 30px;
}
.div3{
    border-top: 1px black solid;
}

.avatarimg {
    width: 100px;
    max-height: 85px;
    position: absolute;
    top: 60px;
    margin: 0 auto; /* Centra horizontalmente */
    left: 0;
    right: 0;
    border: 2px solid #f8b678dc;
    border-radius: 20px;
}

.userEmail{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: 100;
    background-image:linear-gradient(rgba(255, 255, 255, 0.075), rgba(255, 255, 255, 0.42)), url("/img/copas.jpg");
    background-size: cover;
}




/* /////////////////// FOOTER /////////////////// */
.flexBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container{
    width: 90%;
    margin: auto;
    padding: 80px 0;
}

footer{
    background-color: var(--colorTittleDark);
    color: var(--colorTittleClear);
}

footer a{
    color: var(--colorTittleClear);
    text-decoration: none;
}

.socialMedia i{
    padding: 8px;
}

.copy{
    padding-top: 40px;
    text-align: center;
}

footer .flexBox{
    justify-content: flex-end;
}

.navFooter{
    padding-right: 48px;
}

.navFooter li{
    padding: 8px;
}

@media screen and (min-width: 326px) and (max-width: 750px){

    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
    }


    header nav ul{
        display: flex;
        justify-content: center;
        list-style: none;
    }

    header nav ul li{
        margin: 0.2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    header nav ul li a{
        text-decoration: none;
/*         color: rgb(21, 21, 34); */
        font-size: 1rem;
/*         font-weight: bold; */
    }

    header .headerImg{
        display: flex;
        background-image: url(/img/fondoimg.jpg);
        width: 100%;
        height: 20rem;
    }

    header .headerImg h1{
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        padding-top: 9rem;
        font-size: 2.5rem;
        font-weight: bold;
        color: #ffebda;
    }

 
    footer {
        background-color: var(--colorTittleDark);
        color: snow;
        padding: 1rem;
        position: relative;
        z-index: 1; /* Asegura que el footer esté por encima del contenido */
    }
    
    footer .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    
    footer .flexBox {
        display: flex;
    }
    
    footer section {
        text-align: center;
    }
    
    footer .navFooter ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    footer .navFooter li {
        margin: 0.5rem;
    }
    
    footer .navFooter a {
        color: snow;
        text-decoration: none;
        font-size: 1rem;
    }
    
    footer .socialMedia {
        display: flex;
        margin-left: auto;
    }
    
    footer .socialMedia div {
        margin: 0 0.5rem;
    }
    
    footer .copy {
        margin-top: 1rem;
        font-size: 0.8rem;
    }

 }