<!DOCTYPE html>
<html lang="en">
<%- include("partials/head", {title:"Nuevo producto", css:"crear"}) %>
    <body>
        <%- include("partials/nav.ejs") %>
            <main>
                <section class="form-general">
                    <form action="/products/create" method="POST" class="form" enctype="multipart/form-data">
                        <section class="cajacreate">
                            <p class="h3">Crear producto<i class="fa-solid fa-mug-saucer fa-l"></i></p>
                            <div class="line"></div>
                            <p class="marca">Grinding Coffee®</p>
    
                            <input for="name" class="inputcreate" type="text" name="productName" id="product-name" placeholder="Nombre producto" required>
    
                            <label for="description" class="form-label">Descripcion:</label>
                            <textarea class="inputcreate form"  name="description" id="description" required></textarea>
                            <label for="category" class="form-label">Categoría:</label>
                            <select name="category" id="category" class="form-input" value="">
                                <option value="" selected>Que tipo de producto es:</option>
                                <option value="Cafe en grano">Cafe en grano</option>
                                <option value="Cafe molido">Cafe molido</option>
                            </select>

                            <label for="size" class="form-label">Tamaño:</label>
                            <select name="size" id="size" class="form-input" value="">
                                <option value="" selected>Elige el tamaño del producto:</option>
                                <option value="250">250 gr</option>
                                <option value="500">500 gr</option>
                                <option value="1000">1000 gr</option>
                            </select>
    
                            <input type="number" class="inputcreate" name="price" id="price" placeholder="Precio del producto">
    
                            <div class="fotoUsuario">
                                <input type="file" name="productImage"  placeholder="Foto de producto" required>
                                </input>
                            </div>
    
                            <section class="btn-options">
                                <section class="botones">
                                    <button type="submit">Crear</button>
                                </section>
        
                                <section class="botones">
                                    <button type="reset">Volver</button>
                                </section>
                            </section>
                        </section>
    
                    </form>
                </section>
            </main>
            <%- include("partials/footer.ejs") %>
    </body>
</html>