<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grinding Coffe</title>
    <link rel="stylesheet" href="/public/css/home-desktop.css">
</head>
<body>
    <header class="encabezado">
        <nav class="nav">
            <ul>
                <li><a href="">Home | </a></li>
                <li><a href="">Todos los Productos</a></li>
                <li><a href="">| Nosotros</a></li>
            </ul>
        </nav>

        <section class="headerImg">
            <!-- Background-img y texto por html -->
            <h1>Grinding Coffe</h1>

        </section>
    </header>
    <main class="container-main">
        <section class="container">

            <div class="product product1">
                <a href=""><img src="/public/img/producto.jpg" alt=""></a>
                <p>Descripcion del producto a la venta</p>
            </div>

            <div class="product product2">
                <a href=""><img src="/public/img/producto.jpg" alt=""></a>
                <p>Descripcion del producto a la venta</p>
            </div>

            <div class="product product3">
                <a href=""><img src="/public/img/producto.jpg" alt=""></a>
                <p>Descripcion del producto a la venta</p>
            </div>

            <div class="product product4">
                <a href=""><img src="/public/img/producto.jpg" alt=""></a>
                <p>Descripcion del producto a la venta</p>
            </div>

            <div class="product product5">
                <a href=""><img src="/public/img/producto.jpg" alt=""></a>
                <p>Descripcion del producto a la venta</p>
            </div>

            <div class="product product6">
                <a href=""><img src="/public/img/producto.jpg" alt=""></a>
                <p>Descripcion del producto a la venta</p>
            </div>

            <div class="product product7">
                <a href=""><img src="/public/img/producto.jpg" alt=""></a>
                <p>Descripcion del producto a la venta</p>
            </div>

            <div class="product product8">
                <a href=""><img src="/public/img/producto.jpg" alt=""></a>
                <p>Descripcion del producto a la venta</p>
            </div>

            <div class="product product9">
                <a href=""><img src="/public/img/producto.jpg" alt=""></a>
                <p>Descripcion del producto a la venta</p>
            </div>
            <div class="product product10">
                <a href=""><img src="/public/img/producto.jpg" alt=""></a>
                <p>Descripcion del producto a la venta</p>
            </div>

        </section>

        <section class="container-img">

            <div class="box box1">
                <!-- Div con Background-img -->
                <h3>Mira otros productos</h3>
                <a href="">Ver mas</a>
            </div>

            <div class="box box2">
                <!-- Div con Background-img -->
                <h3>Nuestra historia</h3>
                <a href="">Ver mas</a>
            </div>

        </section>

        <section class="recetas">
            <div class="product">
                <a href=""><img src="/public/img/producto.jpg" alt=""></a>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>

            <div class="product">
                <a href=""><img src="/public/img/producto.jpg" alt=""></a>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>

            <div class="product">
                <a href=""><img src="/public/img/producto.jpg" alt=""></a>
                <p>Lorem ipsum dolor sit amet.</p>

            </div>

            <div class="product">
                <a href=""><img src="/public/img/producto.jpg" alt=""></a>
                <p>Lorem ipsum dolor sit amet.</p>

            </div>

            <div class="product">
                <a href=""><img src="/public/img/producto.jpg" alt=""></a>
                <p>Lorem ipsum dolor sit amet.</p>

            </div>
        </section>

        <section class="winner">
            <img src="/public/img/img-winner.webp" alt="">
            <div class="descrip-winner">
                <h1>Cafe de seleccion Premium</h1>
                <p>Este cafe de calidad premium es el mas vendido gracias a su alta calidad y su sabor afrutado con un toque selvatico</p>
                <a href="">Agregar al carrito</a>
            </div>
        </section>




        <!-- <section class="title-testonial">
            <div class="content-testi">
                <h1>Testimonios de compra</h1>
            </div>
        </section>
        <section class="wrapper">
            <div class="testimonial-item">
                <div class="testimonial-client">
                    <img src="./img/User.png" alt="">
                    <p class="client-name">Carlos</p>
                    <div class="testimonial-text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eius!</p>
                    </div>
                </div>
            </div>
            <div class="testimonial-item">
                <div class="testimonial-client">
                    <img src="./img/User.png" alt="">
                    <p class="client-name">Miguel</p>
                    <div class="testimonial-text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eius!</p>
                    </div>
                </div>
            </div>
            <div class="testimonial-item">
                <div class="testimonial-client">
                    <img src="./img/User.png" alt="">
                    <p class="client-name">Stefany</p>
                    <div class="testimonial-text">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, eius!</p>
                    </div>
                </div>
            </div>
        </section> -->



        <section class="marquee-img">
            <div>
                <marquee behavior="" direction="left" loop="1000000" >
                    <div class="marq-box marq-box1">
                        <img src="/public/img/producto.jpg" alt="">
                        <img src="/public/img/producto.jpg" alt="">
                        <img src="/public/img/producto.jpg" alt="">
                        <img src="/public/img/producto.jpg" alt="">
                        <img src="/public/img/producto.jpg" alt="">
                        <img src="/public/img/producto.jpg" alt="">
                        <img src="/public/img/producto.jpg" alt="">
                        <img src="/public/img/producto.jpg" alt="">
                        <img src="/public/img/producto.jpg" alt="">
                        <img src="/public/img/producto.jpg" alt="">
                        <img src="/public/img/producto.jpg" alt="">
                        <img src="/public/img/producto.jpg" alt="">
                        <img src="/public/img/producto.jpg" alt="">
                        <img src="/public/img/producto.jpg" alt="">
                        <img src="/public/img/producto.jpg" alt="">
                        <img src="/public/img/producto.jpg" alt="">
                        <img src="/public/img/producto.jpg" alt="">
                        <img src="/public/img/producto.jpg" alt="">
                        <img src="/public/img/producto.jpg" alt="">
                        <img src="/public/img/producto.jpg" alt="">
                        <img src="/public/img/producto.jpg" alt="">
                        <img src="/public/img/producto.jpg" alt="">
                        <img src="/public/img/producto.jpg" alt="">
                        <img src="/public/img/producto.jpg" alt="">
                        <img src="/public/img/producto.jpg" alt="">
                        <img src="/public/img/producto.jpg" alt="">
                        <img src="/public/img/producto.jpg" alt="">
                        
                    </div>
                </marquee>
            </div>
        </section>
    </main>

    <footer>
        <div class="content-footer">
            <ul>
                <li> <a href="">Quenes Somos</a></li>
                <li> <a href="">Fabricas</a></li>
                <li> <a href="">Colaboradoress</a></li>
                <li> <a href="">Nuestro cafe</a></li>
                <li> <a href="">Puntos fisicos</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>