<!DOCTYPE html>
<html lang="en">

<%- include("partials/head", {title:"login", css:"login"}) %>
    <body>
        <%- include("partials/header.ejs") %>
            <main>
                <form action="/login" method="post" class="form" name="registro">
                    <section class="cajalogin">
                        <p class="h3">Iniciá sesión<i class="fa-solid fa-mug-saucer fa-l"></i></p>
                        <div class="line"></div>
                        <p class="marca">Grinding Coffee®</p>



                        <input class="inputlogin" type="text" name="registro" id="Nombredeusuari@"
                            placeholder="Nombre de usuari@" required>
                        </input>

                        <input class="inputlogin" type="password" name="registro" id="Contraseña"
                            placeholder="Contraseña" required>
                        </input>


                        <section class="botones">

                            <a href="index.html"><button type="submit">ENVIAR</button></a>

                            <button type="reset">Recuperar contraseña</button>

                        </section>
                    </section>



                </form>


            </main>

            <%- include("partials/footer.ejs") %>
    </body>

</html>