<!DOCTYPE html>
<html lang="en">


<%- include("partials/head", {title:"Carrito", css:"carrito"}) %>

<body>
    <%- include("partials/nav.ejs") %>
        <main>
            <section class="main-container">
                <section class="product-summary">
                    <ul class="list">
                        <li class="li-first">Producto</li>
                        <li class="li-second">Cantidad</li>
                        <li class="li-subtotal">Subtotal</li>
                    </ul>
                </section>
                <section class="product-total">
                    <ul class="list">
                        <li class="li-first">
                            <div class="product-info">
                                <img src="/img/producto.jpg" alt="" class="img-product">
                                <div class="product-description">
                                    <p>Nombre producto</p>
                                    <small>Precio:50$</small>
                                    <a href="#" class="remove">Borrar</a>
                                </div>
                            </div>
                        </li>
                        <li class="li-boton li-second"><input type="number" placeholder="Cantidad" value="1"></li>
                        <li class="list-precio">Precio</li>
                    </ul>
                    <ul class="list">
                        <li class="li-first">
                            <div class="product-info">
                                <img src="/img/producto.jpg" alt="" class="img-product">
                                <div class="product-description">
                                    <p>Nombre producto</p>
                                    <small>Precio:50$</small>
                                    <a href="#" class="remove">Borrar</a>
                                </div>
                            </div>
                        </li>
                        <li class="li-boton li-second"><input type="number" placeholder="Cantidad" value="1"></li>
                        <li class="list-precio">Precio</li>
                    </ul>
                </section>
                <div class="total-summary">
                    <a href="#" class="comprar-boton">Comprar</a>
                    <table>
                        <tr>
                            <td>Subtotal</td>
                            <td class="second-td">$200.00</td>
                        </tr>
                        <tr>
                            <td>Impuesto</td>
                            <td class="second-td">$20.00</td>
                        </tr>
                        <tr>
                            <td>Subtotal</td>
                            <td class="second-td last-td">$220.00</td>
                        </tr>
                    </table>
            </section>
            </div>
            <section class="highlight-products">
                <h2>Productos que te podrian interesar por tu compra</h2>
            </section>

            <section class="cards-container">
                <section class="card">
                    <img src="/img/producto.jpg" alt="Producto#" class="img-card">
                    <a href="#">
                        <h2>Agregar Producto</h2>
                    </a>
                </section>
                <section class="card">
                    <img src="/img/producto.jpg" alt="Producto#" class="img-card">
                    <a href="#">
                        <h2>Agregar Producto</h2>
                    </a>
                </section>
                <section class="card">
                    <img src="/img/producto.jpg" alt="Producto#" class="img-card">
                    <a href="#">
                        <h2>Agregar Producto</h2>
                    </a>
                </section>
                <section class="card">
                    <img src="/img/producto.jpg" alt="Producto#" class="img-card">
                    <a href="#">
                        <h2>Agregar Producto</h2>
                    </a>
                </section>
            </section>
        </main>

        <%- include("partials/footer.ejs") %>
</body>

</html>