<!DOCTYPE html>
<html lang="en">

<%- include("partials/head", {title:"Grinding Coffee", css:"detail"}) %>

<body>
    <!--/////////////////// HEADER ///////////////////-->
    <header>
        <div class="container">
            <nav class="flexBox">
                <ul class="flexBox">
                    <li><a href="/login">Iniciar Sesión</a></li>
                </ul>
                <div id="logoHeader">
                    <a href="/"><img src="/img/gcLogo.svg" alt="Logo de Grinding Coffee"></a>
                </div>
                <ul class="flexBox">
                    <li><a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!--/////////////////// MAIN ///////////////////-->
    <main>
        <!--/////////////////// PRODUCT DETAIL ///////////////////-->
        <section class="productDetail">
            <div class="gallery">
                <img src="/img/producto.jpg" alt="">
                <!--<img src="/img/producto.jpg" alt="">
                <img src="/img/producto.jpg" alt="">
                <img src="/img/producto.jpg" alt="">
                <img src="/img/producto.jpg" alt="">-->
            </div>
            <article class="product">
                <h1 class="titleProduct">Nombre del producto</h1>
                <p class="descriptionProduct">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur nisi,
                    repellendus blanditiis veniamquod esse ipsum voluptatibus, impedit in eos provident earum maxime
                    unde deleniti corrupti ex,cum a minima!</p>
                <button class="addCart" type="submit">Agregar al carrito</button>
            </article>
        </section>

        <!--/////////////////// RELATED PRODUCTS ///////////////////-->
        <div class="container">
            <section class="relatedProducts">
                <h2 class="titleSection">Produtos relacionados</h2>
                <div class="flexBox">
                    <article class="card">
                        <img src="/img/producto.jpg" alt="">
                        <h2>Nombre del producto</h2>
                        <p>Lorem ipsum dolor sit amet consectetur</p>
                        <p class="price">10.000 $</p>
                    </article>
                    <article class="card">
                        <img src="/img/producto.jpg" alt="">
                        <h2>Nombre del producto</h2>
                        <p>Lorem ipsum dolor sit amet consectetur</p>
                        <p class="price">10.000 $</p>
                    </article>
                    <article class="card">
                        <img src="/img/producto.jpg" alt="">
                        <h2>Nombre del producto</h2>
                        <p>Lorem ipsum dolor sit amet consectetur</p>
                        <p class="price">10.000 $</p>
                    </article>
                    <article class="card">
                        <img src="/img/producto.jpg" alt="">
                        <h2>Nombre del producto</h2>
                        <p>Lorem ipsum dolor sit amet consectetur</p>
                        <p class="price">10.000 $</p>
                    </article>
                    <article class="card">
                        <img src="/img/producto.jpg" alt="">
                        <h2>Nombre del producto</h2>
                        <p>Lorem ipsum dolor sit amet consectetur</p>
                        <p class="price">10.000 $</p>
                    </article>
                </div>

            </section>
        </div>
        <!--/////////////////// COMMENTS ///////////////////-->
        <div class="container">
            <section class="comments">
                <h2 class="titleSection">¿Que dicen los que compraron este producto?</h2>
                <div class="flexBox">
                    <article class="comment">
                        <h2>Sheldon Strickland</h2>
                        <div class="calification">
                            <div class="start"><i class="fa-solid fa-star"></i></div>
                            <div class="start"><i class="fa-solid fa-star"></i></div>
                            <div class="start"><i class="fa-solid fa-star"></i></div>
                            <div class="start"><i class="fa-solid fa-star"></i></div>
                            <div class="start"><i class="fa-solid fa-star"></i></div>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa mollitia laudantium provident
                            odiosequi enim laborum, distinctio reiciendis consequuntur officiis, dignissimos architecto
                            delectus
                            laboriosam aliquam ad minus quae iusto nobis!</p>
                    </article>
                    <article class="comment">
                        <h2>Vickie Ortega</h2>
                        <div class="calification">
                            <div class="start"><i class="fa-solid fa-star"></i></div>
                            <div class="start"><i class="fa-solid fa-star"></i></div>
                            <div class="start"><i class="fa-solid fa-star"></i></div>
                            <div class="start"><i class="fa-solid fa-star"></i></div>
                            <div class="start"><i class="fa-solid fa-star"></i></div>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa mollitia laudantium provident
                            odiosequi enim laborum, distinctio reiciendis consequuntur officiis, dignissimos architecto
                            delectus
                            laboriosam aliquam ad minus quae iusto nobis!</p>
                    </article>
                    <article class="comment">
                        <h2>Elena Page</h2>
                        <div class="calification">
                            <div class="start"><i class="fa-solid fa-star"></i></div>
                            <div class="start"><i class="fa-solid fa-star"></i></div>
                            <div class="start"><i class="fa-solid fa-star"></i></div>
                            <div class="start"><i class="fa-solid fa-star"></i></div>
                            <div class="start"><i class="fa-solid fa-star"></i></div>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa mollitia laudantium provident
                            odiosequi enim laborum, distinctio reiciendis consequuntur officiis, dignissimos architecto
                            delectus
                            laboriosam aliquam ad minus quae iusto nobis!</p>
                    </article>
                    <article class="comment">
                        <h2>Sylvia Moss</h2>
                        <div class="calification">
                            <div class="start"><i class="fa-solid fa-star"></i></div>
                            <div class="start"><i class="fa-solid fa-star"></i></div>
                            <div class="start"><i class="fa-solid fa-star"></i></div>
                            <div class="start"><i class="fa-solid fa-star"></i></div>
                            <div class="start"><i class="fa-solid fa-star"></i></div>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa mollitia laudantium provident
                            odiosequi enim laborum, distinctio reiciendis consequuntur officiis, dignissimos architecto
                            delectus
                            laboriosam aliquam ad minus quae iusto nobis!</p>
                    </article>
                </div>
            </section>
        </div>
    </main>

    <!--/////////////////// FOOTER ///////////////////-->
    <footer>
        <div class="container">
            <div class="flexBox">
                <section class="navFooter">
                    <ul>
                        <li><a href="">Nosotros</a></li>
                        <li><a href="">Puntos de venta</a></li>
                    </ul>
                </section>
                <section class="socialMedia">
                    <div><i class="fa-brands fa-facebook-f"></i></div>
                    <div><i class="fa-brands fa-instagram"></i></div>
                    <div><i class="fa-brands fa-x-twitter"></i></div>
                </section>
            </div>
            <section>
                <p class="copy">2023 Copyright © Todos los derechos reservados</p>
            </section>
        </div>
    </footer>
</body>

</html>