<footer>
    <div class="container">
        <div class="flexBox">
            <section class="navFooter">
                <ul>
                    <li><a href="">Nosotros</a></li>
                    <li><a href="">Puntos de venta</a></li>
                </ul>
            </section>
            <section class="socialMedia">
                <div><i class="fa-brands fa-facebook-f"></i></div>
                <div><i class="fa-brands fa-instagram"></i></div>
                <div><i class="fa-brands fa-x-twitter"></i></div>
            </section>
        </div>
        <section>
            <p class="copy">2023 Copyright © Todos los derechos reservados</p>
        </section>
    </div>
</footer>