<!-- <footer>
    <div class="content-footer">
        <ul>
            <li> <a href="">Quienes Somos</a></li>
            <li> <a href="">Fabricas</a></li>
            <li> <a href="">Colaboradores</a></li>
            <li> <a href="">Nuestro café</a></li>
            <li> <a href="">Puntos físicos</a></li>
        </ul>
    </div>
</footer> -->
<footer>
    <div class="container">
        <div class="flexBox">
            <section class="navFooter">
                <ul>
                    <li><a href="">Nosotros</a></li>
                    <li><a href="">Puntos de venta</a></li>
                </ul>
            </section>
            <section class="socialMedia">
                <div><i class="fa-brands fa-facebook-f"></i></div>
                <div><i class="fa-brands fa-instagram"></i></div>
                <div><i class="fa-brands fa-x-twitter"></i></div>
            </section>
        </div>
        <section>
            <p class="copy">2023 Copyright © Todos los derechos reservados</p>
        </section>
    </div>
</footer>