<head class="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/888d1f7b84.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/7d1ba2a151.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/841c786b02.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/888d1f7b84.js" crossorigin="anonymous"></script>
    <title> <%= title %></title>
    <link rel="stylesheet" href="/css/<%= css %>.css">

    <!-- Config Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <!-- End -->
</head>