<header class="encabezado">
    <nav class="nav">
        <ul>
            <li><a href="">Home | </a></li>
            <li><a href="">Todos los Productos</a></li>
            <li><a href="">| Nosotros</a></li>
        </ul>
    </nav>

    <section class="headerImg">
        <!-- Background-img y texto por html -->
        <h1>Grinding Coffe</h1>
    </section>
</header>