<!-- <header class="encabezado">
    <nav class="nav">
        <ul>
            <li><a href="">Home | </a></li>
            <li><a href="">Todos los Productos</a></li>
            <li><a href="">| Nosotros</a></li>
        </ul>
    </nav>

    <section class="headerImg">
        <h1></h1>
    </section>
    
</header>

 -->

<header>
    <div class="container">
        <nav class="flexBox">
            <ul class="flexBox">
                <li><a href="/user/login">Iniciar Sesión</a></li>
                <li><a href="/user/register">Registro</a></li>
            </ul>
            <div id="logoHeader">
                <a href="/"><img src="/img/gcLogo.svg" alt="Logo de Grinding Coffee"></a>
            </div>
            <ul class="flexBox">
                <li><a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav>
    </div>
</header>