<header class="encabezado">
    <!-- <nav class="nav">
        <ul>
            <li><a href="">Home | </a></li>
            <li><a href="">Todos los Productos</a></li>
            <li><a href="">| Nosotros</a></li>
        </ul>
    </nav> -->
    <div class="container">
        <nav class="flexBox">
            <ul class="flexBox">
                <li><a href="/user/login">Iniciar Sesión</a></li>
                <li><a href="/user/register">Registro</a></li>
                <li><a href="/products/create">Crear Producto</a></li>
                <li><a href="/allProducts">Todos los productos</a></li>
            </ul>
            <div id="logoHeader">
                <a href="/"><img src="/img/gcLogo.svg" alt="Logo de Grinding Coffee"></a>
            </div>
            <ul class="flexBox">
                <li><a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav>
    </div>
    <section class="headerImg">
        <!-- Background-img y texto por html -->
        <h1>Grinding Coffe</h1>
    </section>
</header>
<!-- 

<header>
    <div class="container">
        <nav class="flexBox">
            <ul class="flexBox">
                <li><a href="/login">Iniciar Sesión</a></li>
            </ul>
            <div id="logoHeader">
                <a href="/"><img src="/img/gcLogo.svg" alt="Logo de Grinding Coffee"></a>
            </div>
            <ul class="flexBox">
                <li><a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav>
    </div>
</header> -->