<header>
    <div class="containerNav">
        <nav class="flexBoxNav">
            <ul class="flexBoxNav">
                <li><a href="/">Inicio</a></li>
                <li><a href="/products/create">Crear Producto</a></li>
                <li><a href="/allProducts">Todos los productos</a></li>
            </ul>
            <div id="logoHeader">
                <a href="/"><img src="/img/gcLogo.svg" alt="Logo de Grinding Coffee"></a>
            </div>
            <ul class="flexBoxNav">
                <li><a href="/user/login">Iniciar Sesión</a></li>
                <li><a href="/user/register">Registrarme</a></li>
                <li><a href="/cart/checkout">Ir al carrito<i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav>
    </div>
</header>